{% extends "base.html" %}

{% block title %}Blog.app &middot; {{ title }}{% endblock %}

{% block content %}
    {% if user and user.loggedin %}
    <div class="col-8 offset-2 p-4 p-md-5 my-2">
        <div class="card">
            <div class="card-header text-white bg-dark">
                <h3>{{ title }}</h3>
            </div>

            <div class="card-body">
				{% if type == 'logout' %}
					<p>Are you sure you want to sign out?</p>
				{% endif %}

                <form method="POST">
                    {{ form.hidden_tag() }}

					{% if type == 'logout' %}
						<!-- logout form fields -->
						{{ form.submit(class='btn btn-danger') }}
						<a href="/" class="btn btn-outline-secondary">Cancel</a>
					{% endif %}

					{% if type == 'passwd' %}
						<!-- password form fields -->
						<div class="form-group">
							{{ form.password.label }}
							{{ form.password(class='form-control') }}
						</div>
						<div class="form-group">
							{{ form.passnew1.label }}
							{{ form.passnew1(class='form-control') }}
							<small class="form-text text-muted">{{ form.passnew1.description }}</small>
						</div>
						<div class="form-group">
							{{ form.passnew2.label }}
							{{ form.passnew2(class='form-control') }}
							<small class="form-text text-muted">{{ form.passnew2.description }}</small>
						</div>
						{{ form.submit(class='btn btn-success') }}
						<a href="/" class="btn btn-outline-secondary">Cancel</a>
					{% endif %}

                </form>
            </div>

        </div>
    </div>
    {% else %}
    <div class="col-8 offset-2 p-4 p-md-5 my-2">
        <div class="card">
            <div class="card-header text-white bg-dark">
                <h3>Error</h3>
            </div>

            <div class="card-body">
				<p>You have to <a href="/login">sign in</a> to access this page.</p>
            </div>

        </div>
    </div>
    {% endif %}
{% endblock %}
